@mixin botton {
    background-color:#01dc82;
    
}

.header{
    background-color: #022c2e;
    color: white;   
    padding:24px ;
    display: flex;
    align-items: center;
    justify-content: center;

}

.titule{
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}